body {
    background-color: #493b1c;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    margin: 0;
}

button {
    background-color: #0a2544;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 100%;
}

img {
    max-width: 100%;
}